.odd {
    background-color: #59B89C;
}

.bottom-footer {
    background-color: #33404E;
}

.card {
    overflow: hidden;
}

.img img {
    width: 300px;
}

.star::before {
    content: '';
    display: block;
    height: 5px;
    width: 15%;
    background-color: white;
    margin: 0 10px 0 10px;
}

.star::after {
    content: '';
    display: block;
    height: 5px;
    width: 15%;
    background-color: white;
    margin: 0 10px 0 10px;
}

.black-star::before {
    content: '';
    display: block;
    height: 5px;
    width: 15%;
    background-color: #3d3d3d;
    margin: 0 10px 0 10px;
}

.black-star::after {
    content: '';
    display: block;
    height: 5px;
    width: 15%;
    background-color: #3d3d3d;
    margin: 0 10px 0 10px;
}